body, html {
    margin:0;   
    height:100%;
    width:100%;
}

#home-view{
    width: 100%;
    text-align: center;
}

#capture-wrapper{
    margin: 0;
    width: 100%;
    height: 100%;
}

#capture-btn{
    margin: auto;
    font-size: 3.5em;
}

#pictures-listview{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.picture{
    width: 100%;
    margin: 0;
    padding: 0;
}

.picture-single{
    max-width: 90%;
    max-height: 60%;
    margin: 0;
    padding: 0;
}

#post-wrapper{
    text-align: center;
}
/*
#places-list{
    width: 320px;
}*/